.header {
  background-color: var(--color-white);
  z-index: 200;
  box-shadow: var(--header-box-shadow);
  background: var(--nav-background);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--size-base);
}

.buttons {
  display: flex;
  align-items: center;
  gap: var(--size-small);
}

.button {
  background: #ffffff;
  padding: var(--size-small) var(--size-base);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 74px;
  height: 48px;
  box-shadow: var(--button-box-shadow);
  border-radius: var(--border-radius-large);

  &.active {
    background: var(--color-red);
    color: var(--color-white);
  }
}
