.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  gap: var(--size-base);

  .navItem {
    padding: calc(var(--size-base) + var(--size-small)) 0 var(--size-base) 0;

    & > button {
      width: 100%;
    }
  }
}
