.main {
  padding: var(--size-base) var(--size-base) 72px var(--size-base);
  margin-top: -88px;
  z-index: 100;
  position: relative;

  @media (min-width: 900px) {
    padding: var(--size-medium) var(--size-medium) 72px var(--size-medium);
  }
}
