.backdrop {
  aspect-ratio: 16/9;
  width: 100%;
  position: relative;
}

.title {
  font-family: 'Poppins', sans-serif;
  color: var(--color-nearly-black);
}

.backButton {
  background-color: var(--color-white);
  border: 1px solid var(--color-nearly-black);
  display: flex;
  padding: var(--size-small);
  border-radius: var(--border-radius-max);
  position: absolute;
  top: var(--size-base);
  left: var(--size-base);
  z-index: 10;
}

.main {
  padding: var(--size-base);
}

.clickable {
  flex: 1 1 100%;
}

.contents {
  overflow-y: auto;
  width: 100vw;
  height: 100vh;
  box-shadow: var(--side-box-shadow);
  position: relative;
  flex: 0 0 100vw;
  background-color: var(--color-white);

  @media (min-width: 768px) {
    flex: 0 0 500px;
  }

  @media (min-width: 900px) {
    flex: 0 0 600px;
  }
}

.container {
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
}
