.form {
  display: flex;
  flex-direction: column;
  gap: var(--size-base);
}

.hr {
  width: 75%;
  display: flex;

  &:before {
    content: 'or';
    position: relative;
    top: calc(var(--size-medium) / 2 * -1);
    margin: 0 auto;
    text-align: center;
    background: var(--color-white);
    padding: 0 var(--size-medium);
    height: var(--size-medium);
  }
}

.text {
  display: flex;
  flex-direction: column;
  gap: var(--size-base);
}
