.count {
  font-size: var(--font-size-extra-small);
}

.tablist {
  display: flex;
  gap: var(--size-base);
  margin-bottom: var(--size-large);
  position: relative;
  background: var(--color-white);
  width: fit-content;
}

.button {
  padding: var(--size-base) var(--size-medium);
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 4px solid var(--color-pale-red);
  font-weight: var(--font-weight-semi-bold);
  color: var(--color-grey);

  &[aria-selected='true'] {
    border-color: var(--color-red);
    color: var(--color-nearly-black);
  }
}
