.form {
  display: flex;
  flex-direction: column;
  gap: var(--size-large);
  align-items: center;

  .selects {
    display: flex;
    gap: var(--size-medium);
    width: 100%;

    .select {
      width: 100%;
    }
  }
}
