.header {
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--size-base);
  margin-right: -88px;

  @media (min-width: 768px) {
    padding: 0 var(--size-medium);
  }
}

.buttons {
  display: flex;
  align-items: center;
  gap: var(--size-base);
}
