.count {
  font-size: var(--font-size-extra-small);
}

.container {
  [role='tabpanel'] {
    background: var(--color-pale-grey);
    padding: var(--size-medium) var(--size-base);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--size-large);

    @media (min-width: 768px) {
      padding: var(--size-large) var(--size-medium);
    }
  }
}

.tablist {
  display: flex;
  gap: var(--size-base);
  margin-bottom: var(--size-large);
  position: relative;
  background: var(--color-white);
  width: fit-content;
  padding: 0 var(--size-base);

  @media (min-width: 768px) {
    margin-bottom: var(--size-large);
    padding: 0 var(--size-medium);
  }
}

.button {
  padding: var(--size-base) var(--size-small);
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 4px solid var(--color-pink);

  font-weight: var(--font-weight-semi-bold);
  color: var(--color-grey);

  &[aria-selected='true'] {
    border-color: var(--color-red);
    color: var(--color-nearly-black);
  }

  @media (min-width: 768px) {
    padding: var(--size-base) var(--size-medium);
  }
}
