body {
  background: var(--color-white);

  &.no-scroll {
    overflow: hidden;
  }
}

a {
  cursor: pointer;
}

.wrapper {
  height: 100%;
  min-height: 100vh;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.hide-on-mobile {
  display: none;

  @media (min-width: 768px) {
    display: flex;
  }
}

.hide-on-desktop {
  display: flex;

  @media (min-width: 768px) {
    display: none;
  }
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: var(--size-small);

  label {
    font-weight: var(--font-weight-semi-bold);
  }

  input,
  select,
  textarea {
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 0px var(--size-small) rgba(0, 0, 0, 0.15);
    border-radius: var(--border-radius-small);
    border: 1px solid var(--color-grey);
    padding: calc(var(--size-small) * 1.5) var(--size-base);
  }

  select {
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' stroke-width='1.5' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 9L12 15L18 9' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat, repeat;
    background-position: right var(--size-base) top 50%, 0 0;
    background-size: var(--size-medium) auto, 100%;
  }

  textarea {
    height: 150px;
  }

  &.error {
    label {
      color: var(--color-red);
    }

    input {
      border-color: var(--color-red);
    }

    .message {
      color: var(--color-red);
      font-size: var(--font-size-small);
    }
  }
}

.no-auth-page {
  z-index: 100;
  display: flex;
  flex-direction: column;
  gap: var(--size-large);
  width: 100%;

  @media (min-width: 768px) {
    margin-top: 0;
    gap: var(--size-extra-large);
  }

  h1 {
    @media (min-width: 768px) {
      font-size: var(--font-size-super);
      line-height: 1.05;
    }
  }

  .subtitle {
    color: var(--color-red);
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-light);
    line-height: 1.25;
  }

  .text {
    display: flex;
    flex-direction: column;
    gap: var(--size-base);
  }
}

.svg-container {
  display: flex;
}

.inner {
  padding: 0 var(--size-base);

  @media (min-width: 768px) {
    padding: 0 var(--size-medium);
  }
}

.Toastify {
  .Toastify__toast {
    border-radius: var(--border-radius-small);
    padding: var(--size-base) var(--size-medium);
    height: auto;
    margin: var(--size-base) var(--size-base);
    font-family: 'Poppins', sans-serif;
    color: var(--color-nearly-black);
    font-size: var(--font-size-small);

    @media (min-width: 768px) {
      margin: var(--size-medium);
      padding: var(--size-medium);
    }
  }

  .Toastify__toast-body {
    padding: 0;
  }

  .Toastify__toast-icon {
    margin-right: var(--size-base);
  }

  .Toastify__close-button {
    color: var(--color-nearly-black);
    opacity: 1;
  }

  .Toastify__toast-container {
    width: 100vw;
    padding: 0;
    right: 0;
    margin: 0;

    @media (min-width: 768px) {
      width: 400px;
    }
  }
}
