:root {
  /* sizes */
  --size-extra-small: 0.4rem;
  --size-small: 0.8rem;
  --size-base: 1.6rem;
  --size-medium: 2.4rem;
  --size-large: 3.2rem;
  --size-extra-large: 6.4rem;
  --size-super: 12.8rem;

  /* colors */
  --color-black: #000;
  --color-black-60: rgba(0, 0, 0, 0.6);
  --color-nearly-black: #333;
  --color-white: #fff;
  --color-white-60: rgba(255, 255, 255, 0.6);
  --color-white-80: rgba(255, 255, 255, 0.8);
  --color-grey: #858585;
  --color-grey-10: rgba(133, 133, 133, 0.1);
  --color-pale-grey: #f2f2f2;
  --color-red: #c00;
  --color-dark-red: #b10000;
  --color-pink: #ffebee;
  --color-dark-green: #0f5132;
  --color-pale-green: #ecf5f1;

  /* font size */
  --font-size-extra-small: 1.2rem;
  --font-size-small: 1.4rem;
  --font-size-body: 1.6rem;
  --font-size-h3: 2rem;
  --font-size-h2: 2.4rem;
  --font-size-h1: 3.2rem;
  --font-size-super: 6.4rem;

  /* font weight */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  /* border raduis */
  --border-radius-small: 0.8rem;
  --border-radius-medium: 1.6rem;
  --border-radius-large: 3.2rem;
  --border-radius-max: 50%;

  /* transitions */
  --transition-fast: all 0.2s ease-in-out;
  --transition-base: all 0.8s ease-in-out;

  /* misc */
  --nav-background: var(--color-white-80);
  --header-bottom-background: var(--color-white-60);
  --card-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  --button-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --button-box-shadow-hover: 0px 2px 2px rgba(0, 0, 0, 0.25);
  --header-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --footer-box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
  --left-side-box-shadow: -4px 0px 4px rgba(0, 0, 0, 0.25);
  --right-side-box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
  --max-width: 1375px;
}
