.main {
  margin-top: -88px;
  z-index: 100;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--size-large);

  .synopsis {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding: var(--size-base) var(--size-base) 0 var(--size-base);

    @media (min-width: 768px) {
      padding: var(--size-medium) var(--size-medium) 0 var(--size-medium);
    }
  }
}
