.content {
  @media (min-width: 768px) {
    width: 60%;
  }

  @media (min-width: 1000px) {
    width: 50%;
  }
}

.main {
  padding: var(--size-base);
  z-index: 100;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--size-large);
  margin-bottom: 160px;

  @media (min-width: 900px) {
    padding: var(--size-medium);
  }

  @media (min-width: 768px) {
    margin-bottom: 0;
    gap: var(--size-extra-large);
    padding: var(--size-base) 0 var(--size-base) var(--size-base);
  }

  h1 {
    margin-bottom: var(--size-base);

    @media (min-width: 768px) {
      font-size: var(--font-size-super);
      line-height: 1.05;
    }
  }

  .subtitle {
    color: var(--color-red);
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-light);
    line-height: 1.25;
  }
}

.buttons {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  gap: var(--size-base);
  bottom: 0;
  width: 100%;
  padding: var(--size-base);

  @media (min-width: 768px) {
    position: relative;
    justify-content: flex-start;
  }
}

.logo {
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-bold);
  color: var(--color-red);
  font-family: 'MuseoModerno', sans-serif;
}
