.main {
  padding: var(--size-base);
  margin-top: -88px;
  z-index: 100;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--size-large);

  .synopsis {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .status {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--size-base);

    .message {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: var(--size-small);
      color: var(--color-dark-green);
      background: var(--color-pale-green);
      padding: var(--size-base);
      border-radius: var(--border-radius-small);
      font-size: var(--font-size-small);
      font-weight: var(--font-weight-semi-bold);

      @media (min-width: 768px) {
        padding: var(--size-base) var(--size-medium);
      }
    }
  }

  .panel {
    background: var(--color-grey-light);
    padding: var(--size-base);
    border-radius: var(--border-radius-medium);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--size-medium);

    @media (min-width: 768px) {
      padding: var(--size-medium);
    }
  }
}
