.result {
  position: relative;
  background: none;
  border: none;
  padding: 0;
  border-radius: var(--border-radius-small);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: var(--size-small);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: var(--font-weight-semi-bold);
}

.imageContainer {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1.5;
}

.image {
  border-radius: var(--border-radius-small);

  @media (min-width: 900px) {
    border-radius: var(--border-radius-medium);
  }
}
