.title {
  margin-bottom: var(--size-large);
  display: flex;
  flex-direction: column;
  gap: var(--size-small);

  h1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  h2 {
    color: var(--color-red);
  }
}
