.header {
  background-color: var(--color-grey-light);
  padding: var(--size-base);
  display: flex;
  align-items: center;
  gap: var(--size-small);
  box-shadow: var(--header-box-shadow);
  z-index: 100;
  position: relative;

  .backButton {
    padding: var(--size-small);
    display: flex;
  }

  h2 {
    font-size: var(--font-size-h2);
  }
}
