.count {
  font-size: var(--font-size-extra-small);
}

.tablist {
  display: flex;
  gap: var(--size-base);
  margin-bottom: var(--size-base);
  position: relative;
}

.button {
  background: none;
  border: none;
  padding: 0 0 var(--size-extra-small) 0;
  text-align: left;
  display: flex;
  align-items: center;
  gap: var(--size-extra-small);
  border-bottom: 2px solid var(--color-nearly-black);
}

.button[aria-selected='false'] {
  color: var(--color-grey);
  border-color: transparent;
}
