.header {
  background-color: var(--color-white);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  padding: var(--size-small) var(--size-base);
  display: flex;
  align-items: center;
  gap: var(--size-base);
}

.backButton {
  background: none;
  border: none;
  display: flex;
  padding: var(--size-small);
}

.h1 {
  font-family: 'Poppins', sans-serif;
  color: var(--color-nearly-black);
}
