.button {
  background: var(--color-white);
  padding: var(--size-base) var(--size-large);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  gap: var(--size-small);
  box-shadow: var(--button-box-shadow);
  border-radius: var(--border-radius-large);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-semi-bold);
  transition: all 0.2s ease-out;

  &:hover {
    box-shadow: var(--button-box-shadow-hover);
  }

  &.active {
    background: var(--color-red);
    color: var(--color-white);

    &:hover {
      box-shadow: var(--button-box-shadow-hover);
    }
  }
}
