.backdrop {
  aspect-ratio: 16/9;
  width: 100%;
  position: relative;
}

.title {
  font-family: 'Poppins', sans-serif;
  color: var(--color-nearly-black);
}

.backButton {
  background-color: var(--color-white);
  border: 1px solid var(--color-nearly-black);
  display: flex;
  padding: var(--size-small);
  border-radius: var(--border-radius-max);
  position: absolute;
  top: var(--size-base);
  left: var(--size-base);
  z-index: 10;
}

.main {
  padding: var(--size-base);
}

.container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: var(--color-white);
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
  overflow-y: auto;
  box-shadow: var(--side-box-shadow);

  @media (min-width: 768px) {
    width: 500px;
    left: calc(100vw - 500px);
  }

  @media (min-width: 900px) {
    width: 600px;
    left: calc(100vw - 600px);
  }
}

.contents {
  overflow-y: auto;
}
