.hero {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;

  @media (min-width: 768px) {
    position: fixed;
  }
}

.image {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;

  @media (min-width: 768px) {
    justify-content: center;
  }
}

.footer {
  width: 100%;
  height: 88px;
  background: var(--nav-background);
  z-index: 50;
  position: relative;

  @media (min-width: 768px) {
    height: 100%;
    width: 88px;
  }

  .fadeOut {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, var(--color-white) 100%);
    backdrop-filter: blur(2px);
    height: 100%;
    box-shadow: var(--footer-box-shadow);

    @media (min-width: 768px) {
      box-shadow: var(--right-side-box-shadow);
      background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, var(--color-white) 100%);
    }
  }
}
