.hero {
  height: 350px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: 900px) {
    height: 550px;
  }
}

.header {
  z-index: 50;
  position: relative;
}

.footer {
  height: 88px;
  background: var(--nav-background);
  z-index: 50;
  position: relative;
}

.fadeOut {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, var(--color-white) 100%);
  backdrop-filter: blur(2px);
  height: 100%;
  box-shadow: var(--footer-box-shadow);
}
