.result {
  text-align: left;
  display: flex;
  align-items: flex-start;
  gap: var(--size-base);
  width: 100%;
  background: none;
  border: none;
  padding: 0;
  box-shadow: var(--card-box-shadow);
  border-radius: var(--border-radius-small);
}

.textContainer {
  flex-grow: 1;
  margin: var(--size-base) var(--size-small);
}

.title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: var(--font-weight-semi-bold);
}

.imageContainer {
  min-width: 92px;
  min-height: 138px;
  position: relative;
}

.image {
  border-radius: var(--border-radius-small) 0 0 var(--border-radius-small);
  object-fit: cover;
}

.releaseDate {
  color: var(--color-grey);
  font-size: var(--font-size-small);
}
