.main {
  padding: var(--size-base);
  margin-top: -88px;
  z-index: 100;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--size-large);
  margin-bottom: calc(85px + var(--size-medium));

  @media (min-width: 900px) {
    padding: var(--size-medium);
  }

  @media (min-width: 768px) {
    margin-top: 0;
    margin-bottom: 0;
    gap: var(--size-extra-large);
    padding: var(--size-base) 0 var(--size-base) var(--size-base);
  }

  h1 {
    margin-bottom: var(--size-base);

    @media (min-width: 768px) {
      font-size: var(--font-size-super);
      line-height: 1.05;
    }
  }

  .subtitle {
    color: var(--color-red);
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-light);
    line-height: 1.25;
  }
}

.buttons {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--size-base);
  bottom: 0;
  width: 100%;
  padding: var(--size-base);

  @media (min-width: 768px) {
    position: relative;
    flex-direction: row;
    justify-content: flex-start;
  }

  button {
    width: auto;
    padding: 0;

    @media (min-width: 768px) {
      width: auto;
    }
  }
}

.logo {
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-bold);
  color: var(--color-red);
  font-family: 'MuseoModerno', sans-serif;
}
