body {
  background: var(--color-white);

  &.no-scroll {
    overflow: hidden;
  }
}

.wrapper {
  height: 100%;
  min-height: 100vh;
  background: var(--color-white);
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.hide-on-mobile {
  display: none;

  @media (min-width: 768px) {
    display: flex;
  }
}

.hide-on-desktop {
  display: flex;

  @media (min-width: 768px) {
    display: none;
  }
}
