@import '@fontsource/museomoderno';
@import '@fontsource/poppins';
@import '@fontsource/poppins/300.css';
@import '@fontsource/poppins/500.css';
@import '@fontsource/poppins/600.css';
@import '@fontsource/poppins/700.css';

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  line-height: 1.25;
}

html {
  font-size: 62.5%;
  color: var(--color-nearly-black);
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-regular);
}

h1 {
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-bold);
}

h2 {
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-medium);
}

.small {
  font-size: var(--font-size-extra-small);
}
