@import '@fontsource/museomoderno';
@import '@fontsource/poppins';

h1 {
  font-family: 'MuseoModerno', sans-serif;
  line-height: 1.25;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  line-height: 1.25;
}

html {
  font-size: 62.5%;
  color: var(--color-nearly-black);
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-regular);
}

h1 {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
  color: var(--color-red);
}

h2 {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-medium);
}

h3 {
}

.small {
  font-size: 1.4rem;
}
