.backButton {
  padding: var(--size-small);
  display: flex;
}

.main {
  padding: var(--size-base);
  background: var(--color-white);
}

.header {
  background-color: var(--color-grey-light);
  padding: var(--size-base);
  display: flex;
  align-items: center;
  gap: var(--size-base);

  h1 {
    font-size: var(--font-size-h1);
  }
}

.container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
  overflow-y: auto;
  box-shadow: var(--left-side-box-shadow);

  @media (min-width: 768px) {
    width: 500px;
    left: calc(100vw - 500px);
  }

  @media (min-width: 900px) {
    width: 600px;
    left: calc(100vw - 600px);
  }
}

.contents {
  overflow-y: auto;
}

.title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--size-base);
}
